In [29]:
import pandas as pd

In [30]:
train = pd.read_csv("dataset/data.csv")
test = pd.read_csv("dataset/test.csv")

### Passage Ã  la prediction

In [32]:
from xgboost import XGBClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score

train = train.loc[:, ~train.columns.str.contains('^Unnamed')]
test = test.loc[:, ~test.columns.str.contains('^Unnamed')]

model = XGBClassifier(learning_rate = 0.01,random_state=42)

X_train = train.drop(['Team', 'won_this_year'], axis=1)
y_train = train['won_this_year']

X_test = test.drop(['Team'], axis=1)

model.fit(X_train, y_train)

y_probabilities = model.predict_proba(X_test)[:, 1]

y_pred = model.predict(X_test)

prediction = {'team':test['Team'],'win proba':y_probabilities}
prediction_df = pd.DataFrame(prediction)
prediction_df.sort_values(by =["win proba"] ,ascending=False)[:5]

           team  win proba
17  Ivory Coast   0.110610
10      Senegal   0.097084
16      Nigeria   0.094100
14      Algeria   0.085822
11      Morocco   0.066801